.base {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-areas: '..... facing-mode-button shutter-button ..... .....';
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-column-gap: 10px;
  justify-content: space-around;
  width: 100%;
  max-width: calc(20vh * 5 + 10px * 4);
  padding: 25px 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.shutter-button {
  position: relative;
  grid-area: shutter-button;
  background-color: black;
  border: white solid 3px;
  border-radius: 50%;
  outline: none;
  opacity: 0.75;
  -webkit-tap-highlight-color: transparent;

  &:active {
    background-color: gray;
  }

  &::before {
    display: block;
    padding-top: 100%;
    content: '';
  }
}

.facing-mode-button {
  display: flex;
  grid-area: facing-mode-button;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  & > .button-icon {
    width: 30%;
    height: auto;
  }

  &:active,
  &:disabled {
    color: gray;
  }
}
