.shutter-icon {
  width: 100%;
  background-color: black;
  border: white solid 3px;
  border-radius: 50%;
  opacity: 0.75;

  &:active {
    background-color: gray;
  }

  &::before {
    display: block;
    padding-top: 100%;
    content: '';
  }
}

.zoom-slider {
  grid-column: middle-left / middle-right;
}
